@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$orange: #B87333;
$darkGray: #343434;
$darkOrange: #A6682E;

$mainFont: 'Montserrat',
sans-serif;

.category {
    width: 40%;
    // background-color: $orange;
    height: auto;
    margin: 1em 0;
    text-align: center;
    border-radius: 10px;
    color: white;
  
    img {
      width: 7em;
      height: auto;
      margin: .5em;
    }

    h3 {
      word-wrap: break-word;
    }
  }