<div class="pageContainer">
  <div class="container">
    <h1>Styles</h1>

    <div>
        <h2>Logo</h2>
        <input #logo type="file">
    </div>
    
    <div>
        <h2>Primary Color</h2>
        <input id="primaryColor" #primaryColor type="color">
        <h2>Second Color</h2>
        <input id="secondColor" #secondColor type="color">
        <h2>Third Color</h2>
        <input id="thirdColor" #thirdColor type="color">
    </div>

    <button id="stylesSaveButton" (click)="saveStyles()">SAVE</button>

  </div>

  <div class="container">
    <h1>Hotel Directory</h1>
  </div>

  <div class="container">
    <h1>Directory 1</h1>
  </div>

  <div class="container">
    <h1>Directory 1</h1>
  </div>
</div>
