<div class="gdContainer">
  <div class="categoriesSection">
    <a class="category" routerLink="/glasgowDirectory/map">
        <img src="../../assets/mapIcon.svg" alt="">
        <h3>Map</h3>
    </a>    
    <a class="category" routerLink="/glasgowDirectory/thingsToDo">
        <img src="../../assets/toDoPin.svg" alt="">
        <h3>Things To Do</h3>
    </a>
    <a class="category" routerLink="/glasgowDirectory/restaurants">
        <img src="../../assets/restaurantPin.svg" alt="">
        <h3>Restaurants</h3>
    </a>
    <a class="category" routerLink="/glasgowDirectory/cafes">
        <img src="../../assets/cafePin.svg" alt="">
        <h3>Cafes</h3>
    </a>
    <a class="category" routerLink="/glasgowDirectory/gas">
        <img src="../../assets/gasPin.svg" alt="">
        <h3>Gas</h3>
    </a>
    <a class="category" routerLink="/glasgowDirectory/shopping">
        <img src="../../assets/shoppingPin.svg" alt="">
        <h3>Shopping</h3>
    </a>
    <a class="category" routerLink="/glasgowDirectory/bars">
        <img src="../../assets/barsPin.svg" alt="">
        <h3>Bars</h3>
    </a>
    <a class="category" routerLink="/glasgowDirectory/casinos">
        <img src="../../assets/casinosPin.svg" alt="">
        <h3>Casinos</h3>
    </a>
    <a class="category" routerLink="/glasgowDirectory/banks">
        <img src="../../assets/bankPin.svg" alt="">
        <h3>Banks</h3>
    </a>
    <a class="category" routerLink="/glasgowDirectory/parks">
        <img src="../../assets/parksPin.svg" alt="">
        <h3>Parks</h3>
    </a>
    <a class="category" routerLink="/glasgowDirectory/schools">
        <img src="../../assets/schoolPin.svg" alt="">
        <h3>Schools</h3>
    </a>
    <a class="category" routerLink="/glasgowDirectory/hotels">
        <img src="../../assets/hotelPin.svg" alt="">
        <h3>Hotels</h3>
    </a>
  </div>
  <div class="results">
    <router-outlet></router-outlet>
  </div>
  <!-- <div class="map full" id="map"></div> -->
</div>
